@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #602f88;
}
section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #165658;
}
.container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    /*background: #ffffff;*/
    display: flex;
    z-index: 1000;
}
/*.container .contactinfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    z-index: 1;
    background: #164888;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.9);
}*/
.container .contactform{
    position: absolute;
    padding: 70px 50px;
    padding-left: 70px;
    margin-left: 90px;
    width: calc(100% - 150px);
    height: 100%;
    background: #ffffff;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.9);
}
.container .contactform i{
    display: flex;
    font-size: 22px;
    float: right;
    margin-top: -27px;
    margin-right: 20px;
}
/*.container .contactinfo h2.heading{
    font-size: 24px;
    color: #ffffff;
}
.container .contactinfo ul.info{
    position: relative;
    margin: 20px 0;
}
.container .contactinfo ul.info li.link{
    position: relative;
    margin: 20px 0;
    list-style: none;
    display: flex;
    cursor: pointer;
    align-items: flex-start;
}
.container .contactinfo ul.info li.link span.img:nth-child(1){
    width: 400px;
    min-width: 400px;
}
.container .contactinfo ul.info li.link span.img:nth-child(1) i{
    font-size: 18px;
    color: #ffffff;
}
.container .contactinfo ul.info li.link span.img span.add:nth-child(2){
    font-size: 16px;
    
    color: #ffffff;
}
.container .contactinfo span.ul{
    width: auto;
}
.container .contactinfo span.ul ul{
    position: relative;
    display: flex;
}
.container .contactinfo span.ul li{
    list-style: none;
    padding: 8px;
    font-size: 24px;
}*/
.container .contactform h2.heading{
    font-size: 24px;
    font-weight: 700;
    color: #000;
}
.container .contactform .form{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 25px;
}
.container .contactform .form .inputForm{
    position: relative;
    margin-bottom: 25px;
}
.container .contactform .form .inputForm.area-50{
   width: 45%;
}
.container .contactform .form .inputForm.area-100{
    width: 100%;
 }
 .container .contactform .form .inputForm input{
     width: 100%;
     resize: none;
     padding: 5px 0;
     font-size: 16px;
     font-weight: 300;
     color: #0f0b0b;
     border: none;
     outline: none;
     border-bottom: 1px solid #0f0b0b;
 }
 .container .contactform .form .inputForm input[type="submit"]{
     position: relative;
     cursor: pointer;
     background: #165658;
     color: #f3f3f3;
     border: none;
     max-width: 150px;
     padding: 12px;
 }
 .container .contactform .form .inputForm.next{
    position: relative;
    cursor: pointer;
    float: right;
    margin-left: 80%;
    top: -65px;
    background: #165658;
    color: #f3f3f3;
    border: none;
    max-width: 150px;
    /*padding: 12px;*/
}
.container .contactform .form .inputForm.next i{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    font-size: 16px;
}
.container .contactform .form .inputForm input[type="submit"]:hover{
    background: #1a2c5e;
}

/*-------------------------------------------------------------------------- 
                 Media Queries for Mobile view 
--------------------------------------------------------------------------*/
@media (max-width: 1200px) {
    .container{
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
    }
    .contactinfo{
        top: 0;
        height: 500px;
        position: relative;
        box-shadow: none;
    }
    .container .contactform{
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none
    }
}
@media (max-width: 991px) {
    section{
        background: #fff38e;
    }
    section::before{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .container .contactform{
        width: 100%;
        height: auto;
    }
    .container .contactinfo{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 600px) {
    .container .contactform{
        padding: 25px;
    }
    .container .contactinfo{
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .container .contactform .form .inputForm.area-50{
        width: 100%;
    }
}

