/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #1977cc;
  text-decoration: none;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
html
{
  scroll-padding-top: 50px;
}
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Desktop view header section stylesheet code
---------------------------------------------------------------*/
#header {
  background: #dddde2;
  transition: all 0.5s;
  z-index: 997;
  position: fixed;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}
#header img {
  width: 100%;
  height: 40px;
  margin: 12px 0;
  position: relative;
}
.fixed-top .navbar {
  padding: 0;
}
.fixed-top .navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 100px;
}
.fixed-top .navbar li {
  position: relative;
}
.fixed-top .navbar > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}
.fixed-top .navbar a, .fixed-top .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #2c4964;
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  padding: 5px 8px;
}

.fixed-top .navbar a i, .fixed-top .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.fixed-top .navbar a:hover, .fixed-top .navbar .active, 
.fixed-top .navbar .active:focus, .fixed-top .navbar li:hover > a {
  color: #1977cc;
  border-color: #1977cc;
}
#header .me-auto {
  position: relative;
  width: 33%;
  left: 90px;
  display: flex;
  float: right;
}
#header button{
  width: 80%;
  border: none;
  outline: none;
  padding: 4px 15px;
  margin: 15px 25px;
  position: relative;
}
.fixed-top .mobile-menu .start{
  color: #f7032b;
}
/*--------------------------------------------------------------
  Mobile view header section stylesheet code written here
--------------------------------------------------------------*/
/*.toggle{
  position: relative;
  display: block;
  float: right;
  left: 350%;
  font-size: 25px;
  color: #f30e0e;
}*/
input#check{
  display: none;
}
label.toggle{
  display: none;
}
/*--------------------------------------------------------------------
  Media query for the header section stylesheet code written here
--------------------------------------------------------------------*/
@media only screen and (max-width: 990px) {
  #header img{
    left: -100px;
    width: 100%;
    height: 35px;
  }
  #header .navbar{
    padding: 0 50px;
  }
#header nav ul{
  width: 100%;
  height: 50vh;
  background-color: #0c61b5;
  position: fixed;
  top: 75px;
  left: -100px;
  display: none;
  transition: 0.4s ease;
  text-align: justify;
}
#header nav ul li {
  display: block;
  list-style: none;
  align-items: center;
}
#header nav ul li a{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #2c4964;
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  padding: 5px 0px;
}
  #header .me-auto{
    position: relative;
    display: flex;
    left: 75px;
  }
  #check:checked ~ ul{
    left: 0px;
  }
  input#check{
    position: relative;
    display: none;
    left: 99px;
  }
  /*i.fa.fa-bars{
    position: relative;
    left: 100%;
  }*/
  label.toggle{
  position: relative;
  display: block;
  float: right;
  right: -230%;
  font-size: 25px;
  color: #f30e0e;
  }
}
.mobile-hero .solan{
  display: none;
}
/*--------------------------------------------------------------
# Hero section mobile view css code
--------------------------------------------------------------*/
@media only screen and (max-width: 990px) {
  .crausalSlider .slider{
    display: none;
  }
  .crausalSlider .mobile-hero{
    bottom: 165px;
    position: relative;
    width: 100%;
    height: 50vh;
    display: block;
    background-image: url("../images/cover_img-6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
  }
  .mobile-hero .solan{
    width: 70%;
    height: 30vh;
    display: block;
    position: relative;
  }
  .mobile-hero .solan p{
    font-size: 22px;
    font-weight: bold;
    margin: 100px 50px;
    color: #082744;
  }
}
/*--------------------------------------------------------------
# About section mobile view css code
--------------------------------------------------------------*/
@media only screen and (max-width: 990px) {
.aboutSec{
  position: relative;
  width: inherit;
  bottom: 340px;
  height: 40vh!important;
  background: #dfefff;
 }
 div.aboutBlock {
  padding: 40px 25px;
 }
 div.blocksec
 {
  position: relative;
 }
 div.blocksec::after{
  content: '';
  position: absolute;
  margin: auto;
  height: 2px;
  background: #06233d;
  width: 35%;
  top: 55%;
}
div.blocksec::before{
display: none;
}
 div.heading2{
  border:  none!important;
  left: 0%;
  text-align: justify;
  display: inline-block;
  font-size: 30px;
  font-weight: 800;
  position: relative;
 }
}
/*--------------------------------------------------------------
# Notify section mobile view css code
--------------------------------------------------------------*/
@media only screen and (max-width: 990px) {
  section.notify{
    position: relative;
    bottom: 340px;
    height: 18vh;
  }
  p.iblog{
    width: 100%;
  }
}
/*--------------------------------------------------------------
# Services Section Mobile View CSS Code
--------------------------------------------------------------*/
@media only screen and (max-width: 990px) {
  section.services{
    width: 100%;
    height: 0vh;
    position: relative;
    bottom: 340px;
  }
  div.div-ser{
    width: 100%;   
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
    position: absolute;
    height: 400px;
  }
  div.img-serv{
    width: 50%;
    top: 150px;
    left: 450px;
    position: relative;
  }
  #carrier img{
    width: 100%;
    height: 200px;
    position: relative;
    right: 0px;
    top: 0px;
  }

}




/*--------------------------------------------------------------
# Navigation Navbar menu
----------------------------------------------------------------

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}


































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.crausalSlider {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: #06233d;
  background-image: url(/images/cover_img-1.jpg);*/
}

.slider{
  position: relative;
  width: 100%;
  height: 85vh;
  z-index: 1;
}
.slider .box {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 85vh;
  clip-path: circle(0% at 0 50%);
}
.slider .box.active{
  clip-path: circle(150% at 0 50%);
  transition: 8s;
  transition-property: clip-path;
}
.slider .box img {
  z-index: 1;
  width: 100%;
  height: 85vh;
}
.slider .box .img_txt {
  position: absolute;
  color: #ffffff;
  background: #1c84e3;
  opacity: 0.5;
  bottom: 45%;
  padding: 30px 30px;
}

.slider .box .img_txt h1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}
.slider .box .img_txt p {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 18px;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
}
.slider .navbtn {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 10%;
  transform: translateY(-50%);
}
.slider .navbtn .dot {
  background: rgba(255, 255, 255, 0.8);
  width: 30px;
  height: 4px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.slider .navbtn .dot.active{
  background: #21d611;
}
/*-------------------------------------------------------------
                    Login & Sign In
--------------------------------------------------------------*/
.slider .overDisplay{
  z-index: 2;
  position: absolute;
  background: #0d180c;
  float: right;
  right: 45%;
}
.slider .formBox{
  width: 380px;
  height: 350px;
  position: absolute;
  top: 97px;
  background: #2fc6e8;
  padding: 5px;
  overflow: hidden;
}
.btnBox{
  width: 220px;
  margin: 15px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #8eb48b;
  border-radius: 10px;
}
.toggleBtn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
}
#clr{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  border-radius: 10px;
  transition: .5s;
  background: #c9d611;
}
.icon{
  margin: 15px auto;
  text-align: center;
}
.crausalSlider .overDisplay .icon .fa-brands{
  width: 30px;
  margin: 0 12px;
  cursor: pointer;
  
}
.input-group{
  top: 150px;
  left: 40px;
  right: 0;
  position: absolute;
  transition: .5s;
  width: 300px;
}
.sign-group{
  top: 120px;
}
.input-field{
  width: 100%;
  padding: 5px 0;
  margin: 5px 0px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #06233d;
  outline: none;
  background: transparent;
}
.submitbtn{
  top: 100%;
  left: 25%;
  border: 0;
  width: 50%;
  outline: none;
  display: block;
  cursor: pointer;
  position: absolute;
  margin: 20px;
  padding: 10px;
  /*border-radius: 0px;*/
  background: #082744;
}
.check-box{
  margin-top: 10px;
  /*padding: 10px 0;*/
}
.rem{
  color: #d32525;
  font-size: 12px;
  bottom: -3px;
  left: 20px;
  position: absolute;
}
#login{
  right: 50px;
}
#signup{
  left: 400px;
}

/************* ---------------------------------------  
---------------- About Section  ---------------------- 
------------------------------------******************/
.aboutSec{
  width: 100%;
  height: 65vh;
  background: #dfefff;
}
.aboutBlock{
  padding: 50px 25px;
}
.blocksec{
  width: 100%;
  height: 45px;
  position: relative;
}
.blocksec::after, .blocksec::before{
  content: '';
  position: absolute;
  margin: auto;
  height: 2px;
  background: #06233d;
  width: 30%;
  top: 2%;
}
.blocksec::after{
  left: 0;
}
.blocksec::before{
  right: 0px;
}
.heading2{
  width: 40%;
  height: 40px;
  border-left: 2px solid #06233d;
  border-right: 2px solid #06233d;
  left: 30%;
  right: 0;
  text-align: center;
  display: inline-block;
  /*justify-content: center;*/
  bottom: 18px;
  font-size: 18px;
  /*padding: 5px 35px;*/
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.aboutPara{
  text-align: justify;
}
/*********************************************************************
                   Notify Section Start
*********************************************************************/
.notify{
  width: 100%;
  height: 30vh;
  background: #082744;
}
.notify .blog{
  width: 100%;
  height: 171px;
  /*position: relative;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog .title{
  width: 50%;
  height: 120px;
  display: flex;
  outline: none;
  overflow: hidden;
  color: #f5f4fb;
  position: relative;
  margin: 0px 50px !important;
  align-items: center;
  justify-content: center;
  /*background: rebeccapurple;*/
  border-radius: 80px;
  border-right: 2px solid red;
}
.plog{
  /*top: 27px;*/
  width: 50%;
  height: 171px;
  padding: 15px 10px;
  line-height: 5px;
  display: flow-root;
  padding-left: 10px;
  color: #f5f4fb;
  position: relative;
}
.plog .arrow{
  top: 30px;
  position: relative;
  display: flex;
  margin: -10px;
}
/*.blog p{
  width: 100%;
  display: block;
  text-align: center;
  border-right: 1px solid red;
  color: #f5f4fb;
  position: relative;
}*/
.blog .h2 .colh2{
  color: #f41111;
  font-size: larger;
  text-transform: capitalize;
}
.iblog{
  top: 20px;
  width: 90%;
  display: block;
  position: relative;
  text-align: justify;
  padding: 0px 20px;
  line-height: 14px;
}

/*------------------------------------------------------
                      Footer CSS                        
------------------------------------------------------*/
footer{
  width: 100%;
  position: absolute;
  /*top: 0;*/
  background: #000102;
  color: #ffffff;
  padding: 10px 0 0 0;
  font-size: 12px;
  line-height: 15px;
}
.frow{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.fcol{
  flex-basis: 25%;
}
.fcol:nth-child(2), .fcol:nth-child(3){
  flex-basis: 15%;
}
/*.flogo{
  width: 90%;
  height: 40px;
  margin-bottom: 30px;
  background: #f1f1ea;
  opacity: 0.2;
  color: #f5f4fb;
}*/
.fcol .address{
  font-size: 14px;
  text-align: justify;
}
.fcol h3{
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.fcol h6{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-size: 12px;
  border-bottom: 1px solid #f6f4f4;
  cursor: pointer;
}
.fcol ul li{
  list-style: none;
  margin-bottom: 12px;
}
.fcol ul li .anchor{
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  margin-left: -30px;
}
.foo{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #bdf5f4;
  margin-bottom: 50px;
}
.foo input{
  width: 100%;
  background: transparent;
  color: #fffff8;
  border: 0;
  outline: none;
}
.foo button{
  background: transparent;
  outline: navajowhite;
  cursor: pointer;
  border: 0;
}
.foo button .fa-solid{
  font-size: 16px;
  color: #f6f4f4;
}
.social-icon .fa-brands{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
  background: #f5f4fb;
  color: #01070c;
  border-radius: 50%;
}
hr{
  width: 100%;
  border: none;
  border: 1px solid #0c61b5;
  margin-bottom: 15px auto;
}
footer .copyb{
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 6px;
}
footer .copyright{
  margin-left: 70%;
}
footer .underline{
  width: 50%;
  position: absolute;
  background: #f5f4fb;
  left: 0;
  top: 40px;
  border-radius: 10px;
  height: 3px;
  overflow: hidden;
}
/*footer .underline span{
  width: 60px;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  background: #000102;
  left: 0px;
  top: 0;
  animation: moving 1s linear infinite;
}
@keyframes moving{
  0%{
    left: -10px;
  }
  100%{
    left: 100%;
  }
}*/
@media (max-width: 700px){
  footer{
    bottom: unset;
  }
  .fcol{
    flex-basis: 100%;
  }
  .fcol:nth-child(2), .fcol:nth-child(3){
    flex-basis: 100%;
  }
}
/*--------------------------------------------------
  Services Section CSS start for Desktop View
--------------------------------------------------*/
.services{
  width: 100%;
  height: 65vh;
  display: flex;
  background: #f1e5e5;
  /*align-items: center;
  justify-content: center;*/
}
.div-ser{
  width: 50%;
  height: 398px;
  padding-top: 50px;
  padding-left: 50px;
  /*position: relative;*/
  background: #ffffff;
}
.serv-txt h1{
  position: relative;
  padding-bottom: 20px;
  font-size: 50px;
  color: #2cf6d1;
}
.div-ser button{
  border: none;
  top: 30px;
  width: 30%;
  height: 50px;
  position: relative;
  background: #000;
  outline: none;
  color: #ffffff;
}
.img-serv{
  width: 50%;
  height: 398px;
  position: relative;
}
.img-serv img{
  width: 100%;
  height: 398px;
}
.services .serv-txt h5{
  font-size: 18px;
  text-align: justify;
}
/*--------------------- End Services --------------------------*/

/*--------------------- Contact Information Required -----------*/
.join-us-form{
  width: 100%;
  height: 100%;
  background: #f9f1ff;
}
.contain{
  position: relative;
  width: 100%;
  height: 569px;
  display: flex;
  z-index: 1000;
}
.contain .contactform{
  top: 75px;
  width: 85%;
  left: 90px;
  height: 75%;
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.9);
}
.contain .contactform i{
  left: 95%;
  font-size: 22px;
  cursor: pointer;
  position: relative;
}
.contain .contactform h2.heading{
  position: relative;
  top: 28px;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
.contain .contactform .form{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 25px;
}
.contain .contactform .form .inputForm{
  position: relative;
  margin-bottom: 25px;
}
.contain .contactform .form .inputForm.area-50{
 width: 45%;
}
.contain .contactform .form .inputForm.area-100{
  width: 100%;
}
.contain .contactform .form .inputForm input{
   width: 100%;
   resize: none;
   /*padding: 5px 0;*/
   font-size: 16px;
   font-weight: 300;
   color: #0f0b0b;
   border: none;
   outline: none;
   border-bottom: 1px solid #0f0b0b;
}
.contain .contactform .form .inputForm span{
  position: relative;
    top: 5px;
}
.contain .contactform .form .inputForm input[type="submit"]{
   position: relative;
   cursor: pointer;
   background: #165658;
   color: #f3f3f3;
   border: none;
   max-width: 150px;
   padding: 12px;
}
.contain .contactform .form .inputForm.next{
  position: relative;
  cursor: pointer;
  float: right;
  margin-left: 80%;
  top: -65px;
  background: #165658;
  color: #f3f3f3;
  border: none;
  max-width: 150px;
  /*padding: 12px;*/
}
.contain .contactform .form .inputForm.next i{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  font-size: 16px;
}
.contain .contactform .form .inputForm input[type="submit"]:hover{
  background: #1a2c5e;
}

/*-------------------------------------------------------------------------- 
               Media Queries for Mobile view 
--------------------------------------------------------------------------
@media (max-width: 1200px) {
  .contain{
      width: 90%;
      min-width: auto;
      margin: 20px;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
  }
  .contactinfo{
      top: 0;
      height: 500px;
      position: relative;
      box-shadow: none;
  }
  .contain .contactform{
      position: relative;
      width: calc(100% - 350px);
      padding-left: 0;
      margin-left: 0;
      padding: 40px;
      height: 550px;
      box-shadow: none
  }
}
@media (max-width: 991px) {
  .join-us-form{
      background: #fff38e;
  }
  .join-us-form::before{
      display: none;
  }
  .contain{
      display: flex;
      flex-direction: column-reverse;
  }
  .contain .contactform{
      width: 100%;
      height: auto;
  }
  .contain .contactinfo{
      width: 100%;
      height: auto;
  }
}
@media (max-width: 600px) {
  .contain .contactform{
      padding: 25px;
  }
  .contain .contactinfo{
      padding: 25px;
      flex-direction: column;
      align-items: flex-start;
  }
  .contain .contactform .form .inputForm.area-50{
      width: 100%;
  }
}
/*--------------------- End Contact Information ----------------*/

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1977cc;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #298ce5;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.datepicker-dropdown {
  padding: 20px !important;
}
