
@font-face {
    font-family: 'Colaborate';
    src: url('../fonts/colab-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Colaborate';
    src: url('../fonts/colab-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}